.SectionContainer{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SectionContein{
    width: 90vw;
    height: 70vh;
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 50% auto;
    
}
.Img{
    background-image: url("https://st2.depositphotos.com/1008939/7972/i/600/depositphotos_79723078-stock-photo-three-friends-drinking-a-glass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.SectionConteinBox{
    margin-left: 0px;
    text-align: center;
    padding-top: 10vh;
}
.SectionConteinBox h4{
    font-size: 1.2em;
    padding: 10px;
    color: rgb(63, 55, 55);
}
.SectionConteinBox h1{
    font-size: 3em;
    color: rgb(255, 136, 0);
    padding: 20px;
}
.SectionConteinBox p{
    font-size: 1.3em;
    font-weight: 600;
    padding: 25px;
}
.SectionConteinBox div{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}
.SectionConteinBox div p{
    text-align: center;
    background-color: black;
    padding: 15px;
    width: 20vw;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
.SectionConteinBox div p:hover{
    background-color: rgba(0, 0, 0, 0.493);
}
@media only screen and (max-width: 600px){
    .SectionContainer{
        width: 100vw;
        height: 120vh;
        
    }
    .SectionContein{
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
    }
    .SectionContein .Img{
        height: 100%;
    }
    .SectionConteinBox{
        padding-top: 2vh;
    }
    .SectionConteinBox div{
        margin-top: 2vh;
        
    }
    .SectionConteinBox div p{
        width: 40vw;
    }
    .SectionContein{
        width: 90vw;
    }
}
@media only screen and (max-width: 500px){
    .SectionContein{
        height: 90vh;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
    }
    .SectionContein .Img{
        height: 100%;
    }
    .SectionConteinBox{
        padding-top: 2vh;
    }
    .SectionConteinBox div{
        margin-top: 2vh;
        
    }
    .SectionConteinBox div p{
        width: 40vw;
    }
    .SectionContein{
        width: 100vw;
    }
}